.job {
  margin-bottom: 2rem;
}

.job h3 {
  margin-bottom: 0.25rem;
}

.job .meta {
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 0.5rem;
}

.job ul {
  list-style: disc;
  margin-left: 1.25rem;
}
