.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

section {
  margin-bottom: 4rem;
}

#contact ul {
  list-style: none;
  margin-left: 0;
}

#contact li {
  margin-bottom: 0.5rem;
}
